{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %} <h1> Mon profil</h1> {% endblock %}

{% block content %}
<div class="col-md-9">
    <form class="form">
        <div class="row">
            <div class="col-md-8">
                <h2>Informations personnelles</h2>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname" class="col-form-label required">Nom</label>
                                <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Votre nom" value="Doe" required>
                            </div>
                            <!--end form-group-->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname" class="col-form-label required">Prénom(s)</label>
                                <input name="firstname" type="text" class="form-control" id="firstname" placeholder="Prénom(s)" value="Jane" required>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-8-->
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                            <label for="email" class="col-form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Your Email" value="jane.doe@example.com">
                        </div>
                        </div>
                    </div>
                    <!--end row-->
                </section>
                <section class="clearfix">
                    <button type="submit" class="btn btn-primary float-right">Enregistrer</button>
                </section>
            </div>
            <!--end col-md-8-->
            <div class="col-md-4">
                <div class="profile-image">
                    <div class="image background-image">
                        <img src="{{asset('./assets/img/author-09.jpg')}}" alt="">
                    </div>
                    <div class="single-file-input">
                        <input type="file" id="user_image" name="user_image">
                        <div class="btn btn-framed btn-primary small">Mettre une Photo de profil</div>
                    </div>
                </div>
            </div>
            <!--end col-md-4-->
        </div>
    </form>
</div>
{% endblock %}