{% extends 'layouts/auth_base.html.twig' %}

{% block page_title %}<h1>Mot de passe oublié</h1>{% endblock %}

{% block content %}
<div class="col-md-6">
    <form class="form" method="POST" action="{{path('reset_password')}}">
        {% include 'layouts/notifications.html.twig' %}

        <div class="form-group">
            <label for="email" class="col-form-label required">Email</label>
            <input name="email" type="email" class="form-control" placeholder="Entrez l'adresse email de votre compte" id="email" required autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
        <!--end form-group-->
    </form>
    <hr>
    <div class="clearfix">
        <p class="float-left">
            Possédez-vous un compte? <a href="{{path('app_login')}}" class="link">Cliquez ici.</a>
        </p>
        <p class="float-right">
            Première Connexion? <a href="{{path('app_register')}}" class="link">Cliquez ici.</a>
        </p>
    </div>
</div>

{% endblock %}