{% extends 'layouts/auth_base.html.twig' %}

{% block page_title %}<h1>Nouveau mot de passe</h1>{% endblock %}

{% block content %}
<div class="col-md-6">
    <form class="form clearfix" method="POST" action="{{path('brand_new_password')}}">
        {% include 'layouts/notifications.html.twig' %}
        <div class="form-group">
            <label for="password" class="col-form-label required">Mot de passe</label>
            <input name="password" minlength="6" type="password" class="form-control" placeholder="Entrez le nouveau mot de passe" id="password" required autofocus>
            <input name="user" type="hidden" class="form-control"  id="user" value="{{user.id}}">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Soumettre</button>

        <!--end form-group-->
    </form>
</div>

{% endblock %}