{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %} <h1>Modification du département</h1> {% endblock %}

{% block content %}
<div class="col-md-9">
  <form class="form" method="POST" action="{{path('update_department')}}">
      <div class="row">
          <div class="col-md-8">
              <div class="form-group">
                <label for="name" class="col-form-label">Département</label>
                <input required name="name" type="text" class="form-control" id="name" placeholder="Nom du département" value="{{department.name}}">
                <input required name="id" type="hidden" class="form-control" id="id" value="{{department.id}}">
              </div>
              <button type="submit" class="btn btn-primary float-right">Modifier</button>
          </div>
          <!--end col-md-8-->
      </div>
  </form>
</div>
{% endblock %}