{% extends 'layouts/good.html.twig' %}

{% block page_title %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md">
        {% include 'layouts/notifications.html.twig' %}
         <section class="content">
            <section class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Nous joindre</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit
                                amet fermentum sem. Class aptent taciti sociosqu ad litora
                            </p>
                            <br>
                            <figure class="with-icon">
                                <i class="fa fa-map-marker"></i>
                                <span> 5 Allée de a croix des hêtres<br>Rennes, 35000 </span>
                            </figure>
                            <br>
                            <figure class="with-icon">
                                <i class="fa fa-phone"></i>
                                <span>+33 123 456 789</span>
                            </figure>
                            <figure class="with-icon">
                                <i class="fa fa-envelope"></i>
                                <a href="#">info@safer.com</a>
                            </figure>
                            <figure class="with-icon">
                                <i class="fa fa-envelope"></i>
                                <a href="#">support@safer.com</a>
                            </figure>
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-8">
                            <h2>Formulaire de contact</h2>
                            <form class="form email" method="POST" action="{{path('store_contact')}}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">Nom & Prénom</label>
                                            <input name="name" type="text" class="form-control" id="name" placeholder="Jonh Doe" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">Votre Email</label>
                                            <input name="email" type="email" class="form-control" id="email" placeholder="Votre Email" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="subject required" class="col-form-label">Sujet</label>
                                            <input required name="subject" type="text" class="form-control" id="subject" placeholder="Sujet">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="category required" class="col-form-label">Quel type de bien cherchez-vous?</label>
                                        <select required name="category" id="category" data-placeholder="Choisir une catégorie de bien" data-enable-search="true">
                                            <option value="">Catégorie de bien</option>
                                            {% for category in categories %}
                                                <option value="{{category.id}}">{{category.libelle}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="message" class="col-form-label required">Votre Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Votre Message" required></textarea>
                                </div>
                                <!--end form-group-->
                                <button type="submit" class="btn btn-primary float-right">Envoyer Message</button>
                            </form>
                            <!--end form-->
                        </div>
                        <!--end col-md-8 -->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--end block-->
        </section>
    </div>
</div>

{% endblock %}