{% extends 'layouts/error_base.html.twig' %}

{% block page_title %} <h1>Page non trouvée</h1> {% endblock %}

{% block content %}

<div class="col-md">
    <p class="text-center">
        La page demandée n'a pas être trouvée. Vérifiez bien l'écriture du lien
        ou retournez à la page d'accueil.<br>
        <button type="button" id="add-bien" class="small width-200px btn btn-primary btn-framed mt-4" onclick="javascript:location.href='{{ path('home') }}'">
            Page d'accueil
        </button>
    </p>
</div>

{% endblock %}